.book-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  li {
    cursor: pointer;
  }
}

.waiting {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.yay {
  display: block;
  margin-bottom: 15px;
}
